[2019-12-03 16:35] shengchalover opened #1 "Consider turning this project into a tutorial"
Hey there,

I am a novice in programming, and I struggle grasping architectures very much. That SwiftUI / Combine are so new does not help a bit, as the dust is definitely not settled yet, and seems like very few really understand how to design with new frameworks.

This project (just as your posts btw) reads very easily, yet I still struggle understanding the core 'why's of the architecture, not

[2019-12-03 17:07] nalexn commented on #1
Hi @shengchalover

Since you're a novice in programming in general, I would highly recommend you to not concentrate on the architectures for now. Just try to get used to the IDE, language features, frameworks, etc.

I elaborate more on this topic in [this comment on Medium](https://medium.com/@nalexn/i-wanted-to-try-building-my-first-swift-app-and-already-spent-2-weeks-learning-best-practices-and-

[2019-12-03 17:12] nalexn commented on #1
I just noticed you're aware of Apple's tutorial. Yea, I'm planning to write an article describing the motivation behind tech design in general and this architecture in particular. Stay tuned!

[2019-12-29 17:41] omaralbeik opened #4 "Question about back navigation in simulator"
Thank you for the project @nalexn!

Could you please explain the following check for simulator 🤔

https://github.com/nalexn/clean-architecture-swiftui/blob/96af019bd581576531d4f0cd29fc34bcc629ebc1/CountriesSwiftUI/UI/Screens/CountryDetails.swift#L30

It is causing the details page not to pop back if it is presented by tapping a parent details page

[2019-12-29 17:51] nalexn commented on #4
Hey Omar, there is a [bug in SwiftUI](https://stackoverflow.com/questions/58404725/why-does-my-swiftui-app-crash-when-navigating-backwards-after-placing-a-navigat) that basically crashes the app on the simulator when you try to pop the screen back.

[2019-12-29 18:36] omaralbeik commented on #4
I see, looks like changing the navigation link to:
[code]
is solving this particular issue, but then tapping on the last pushed country in the list after dismissing details is not showing details

[2020-01-03 19:29] alexanderwe opened #5 "[Question] How would you react to state changes in view"
Hi there !

At first thank you for providing this repository and your related blog posts. I enjoyed reading them and they helped me a lot.

But I have a question about reacting to `@State` changes in `View`s in this architecture.

---
For example I have the following case in my application:

I have a view which displays a list of tasks for a specific date interval. It has your dependency injection

[2020-01-04 15:36] nalexn commented on #5
I think the best option for maintaining the unidirectional data flow in clean architecture is to have a closure callback for Binding mutation, from where you can trigger the side effect (call that `fetch` function).

So here is how I'd approach this:
[code]

[code]

Let me know if this solves the problem!

[2020-01-05 21:25] alexanderwe commented on #5
@nalexn Thanks a lot for your code snippet - it worked like a charm and solved my problem !

One question though: Do you think it would make sense to introduce view models in this kind of architecture or would this be a "no go" since it is basically mixing up two architectures ?

[2020-01-06 16:25] nalexn commented on #5
@alexanderwe there cannot be a "no go" in mixing different approaches. The only thing that matters is the possible collateral damage of making the codebase harder to grasp. I never was a fan of VIPER, but one of the reasons why it's good is because VIPER's module is standardized: any developer who's familiar with VIPER will quickly figure out how specific screen works even if he's seeing the code

[2020-01-06 18:49] alexanderwe commented on #5
@nalexn Thanks a lot for your time and thoughts on that. I primarily asked because I created some `ObservableObject` classes as `ViewModel` which will connect to the dependency injector and then my views are using these models to react to state changes etc. I think I'll simply try it out and see how it goes.

I definitely agree with your last part. I also discourage the use of different data flows

[2020-01-06 18:49] #5 closed

[2020-01-06 21:40] nalexn commented on #5
@alexanderwe `EnvironmentObject` and `Environment` injections work best for something centric or used by multiple screens. In this sample project, `Interactors` serve more like "services" rather than as 1-to-1 view models for the views, because multiple screens can use the same Interactor if they partially share certain business logic.
As opposed to the "services", ViewModel has 1-to-1 corresponde

[2020-01-06 21:48] alexanderwe commented on #5
@nalexn I think I said it wrong. I do not expose the view models via the container and rather inject the container into the view models. An example a view model could look like this.

[code]

And then the idea is to use it like this:

[code]

[code]

[2020-01-06 22:47] nalexn commented on #5
@alexanderwe that's a great idea! This is a more modular approach that I've initially proposed, where "services" (Interactors) are fed to the ViewModels. So it should be even more scalable (at a cost of adding more modules).

[2020-01-06 22:49] nalexn commented on #5
Share your thoughts on which one you end up using!

[2020-01-06 23:32] ALTinners opened #6 "Question: Deeper than one-level navigation"
Hi Alexey,

Having a look at your repo to get ideas on how to tackle my own issues - have you tackled anything to do with navigation (in the `NavigationView` sense) beyond a one-level-deep-master-detail-set?

I'm still looking for ideas to an [SE question I posted](https://stackoverflow.com/questions/59403359/deep-programmatic-swiftui-navigationview-navigation) -  you mentioned in https://nalexn.g

[2020-01-07 07:59] nalexn commented on #6
Hey @ALTinners I've looked into the problem you have and can confirm that the issue is with `NavigationView` implementation, which is currently totally [broken](https://stackoverflow.com/questions/58404725/why-does-my-swiftui-app-crash-when-navigating-backwards-after-placing-a-navigat).

If you disable animations with `UINavigationBar.setAnimationsEnabled(false)` before the `ContentView` is even c

[2020-01-07 21:38] ALTinners commented on #6
Good find on that error message there - that's a royal pain that the full API is not exposed.

Honestly - I'm a bit iffy on Apple's whole design paradigm for navigation here - the fact that programmatic navigation is tied to `View`s is misguided IMO as screen-position-based optimisations (like your `List` example) suddenly impact things that have nothing to do with layout performance. Its a huge b

[2020-01-07 21:38] #6 closed

[2020-01-11 10:23] alexanderwe commented on #5
@nalexn I just wanted to share what I ended up using now.

So I decided to go on with the approach I posted earlier of injecting the container into view models and then my views take the view models as a parameter. With that I can keep the views clean of handling all of the state and let the view models take care of that. My app is currently rather small with round about 5 view models in total so

[2020-01-11 10:27] nalexn commented on #5
@alexanderwe Thanks for sharing! Are the VMs backed by the centralized state or how did you organize the data flow?

[2020-01-11 10:32] alexanderwe commented on #5
@nalexn The VMs are reacting to changes in a centralized state. So for example I have a view which shows an overview of a list of tasks. The corresponding view model is as follows:

[code]
So basically what I did is to "free" the views of handling the states and side effects and move them up to the view model.

[code]

[2020-01-11 10:36] nalexn commented on #5
@alexanderwe I like it! This should be intrinsically more testable 👍

[2020-01-11 10:39] alexanderwe commented on #5
@nalexn I hope so too ! Until now this pattern served me well and I'll continue using it. Maybe there are some downsides to it with very complex data states but for now I did not encounter any problems

[2020-01-14 05:21] garsdle opened #7 "More Please!"
This is by far the best SwiftUI example I have found to date (and I keep up on this stuff!)

I was wondering if you have any plans of adding some user actions, I am particularly curious how you would handling deletion of an item from a list. Again thank you so much for this resource.

[2020-01-14 15:52] nalexn commented on #7
Thank you @garsdle ! I'll take a look at what you're asking, and either reply here with a code example or update the project to include this

[2020-01-15 13:12] nalexn commented on #7
Hey @garsdle

I've added a SearchBar, so the list of countries is now being filtered by the user input. This is not exactly the item deletion, so let me show how this could be done.

Since the deletion of an item implies committing this action to the backend, this change shouldn't be local to the view, as the countries' filtering feature is.

Based on that, I would follow [this example](https://ww

[2020-01-15 21:38] garsdle commented on #7
Awesome! Thank you so much for adding another great example

[2020-01-16 13:06] NeverwinterMoon opened #8 "Question about reacting to state change"
Hi!

First of all, a very awesome project and article on clean architecture with SwiftUI.

I have a question though.

You say `Instead, they forward the result to the AppState or to a Binding. The latter is used when the result of work (the data) is used locally by one View and does not belong to the AppState.`

For the first case, I can subscribe to any data change in `Store` by using something l

[2020-01-16 13:09] nalexn commented on #8
Hey @NeverwinterMoon

You're not alone who struggled with this exact problem. Check out my comment [here](https://github.com/nalexn/clean-architecture-swiftui/issues/5#issuecomment-570794937) for the solution.

[2020-01-16 15:01] nalexn commented on #1
Hey @shengchalover

I've just posted an [article](https://nalexn.github.io/separation-of-concerns/) that mainly covers what you've requested. Please let me know if some other things still need clarification!

[2020-01-16 21:01] NeverwinterMoon commented on #8
Thanks for a reply. I shouldn't have rushed in with my questions without checking the closed issues first :)

In fact, I have already tried using something like this in my current code base before trying out your approach to the architecture and thought that there might be something more elegant.

If you don't mind, I would like to ask something else using this same thread.

Before trying the arch

[2020-01-17 11:50] #7 closed

[2020-01-17 12:14] nalexn commented on #8
So you'd have something like this:

[code]

So your app's state already provides sufficient information for the screen to navigate to the correct destination screen. You don't need `Routing` struct for now.

[2020-01-17 13:22] NeverwinterMoon commented on #8
Thanks for the reply. This solution is clean and easy to manage, but in reality the code to check both login and bluetooth is asynchronous (Firebase Auth and centralManagerDidUpdateState), so I would like to wait for both of the states to return some result before processing them. In the suggested implementation, it's possible that the app would show a wrong view one moment and the next moment - t

[2020-01-17 13:37] nalexn commented on #8
You're trying to introduce the event-driven approach from UIKit, which is very foreign to the SwiftUI.

SwiftUI is powered by the state, not the events. You can mutate the state asynchronously, but you still need to define the state values that would reflect the "status is loading" for the app.

There is no need to "combine" the value streams. Let them be fully independent and update the correspon

[2020-01-17 13:42] nalexn commented on #8
The condition should be (in a presudo code):
[code]

This way, these two async operations can complete in any order - the UI will show the loading indicator until BOTH complete.

[2020-01-19 14:53] NeverwinterMoon commented on #8
OK, I've tried out with just having state values. The more values I watch, the more often the view content update is triggered and the same view can be initialised multiple times. Meaning that if, say, `loginStatus` remains unchanged but `bluetoothStatus` changes and `loginStatus.isUndefined || bluetoothStatus.isUndefined` is still true, `LoadingView()` will be created again. Is this normal?

[2020-01-19 14:58] nalexn commented on #8
Yes, this is how SwiftUI works, you skip the update by explicitly filtering the equal values. I've written an article dedicated to this problem: https://nalexn.github.io/swiftui-observableobject/

I'd also recommend you to read another article of mine regarding the real performance bottlenecks in SwiftUI. The re-creation of the view hierarchy is SwiftUI is almost free, compared to UIKit. https://n

[2020-01-19 16:26] nalexn commented on #8
The `loginStatus` and the `bluetoothStatus` can be stored in AppState and updated independently, however, in your view you can introduce a single @State variable that would reflect a combined value of the two. This way you can mitigate the problem of multiple view redraws. You can use the approach similar to the one used in this sample project (where a CurrentValueSubject update is assigned to the

[2020-01-19 19:04] NeverwinterMoon commented on #8
I've read https://nalexn.github.io/swiftui-observableobject/. This article was the one that lead me to this project, by the way. I assume, you refer to this `injected.appState.map { $0.viewState }.removeDuplicates().eraseToAnyPublisher()` when you mention filtering the values. I am actually using almost the exact code from this demo project, so I have `.onReceive(isLoggedInUpdate)` which is backed

[2020-01-19 21:22] nalexn commented on #8
Don't forget that SwiftUI is still not optimized so it can re-create the hierarchy a couple of times with no obvious reason (there could be the case it needs to re-calculate the layout, which would lead to this).

At least, I can tell that multiple records `Creating detailsView` is not a re-creation of the same view multiple times, but rather the creation of the destination views for all visible r

[2020-01-19 21:31] nalexn commented on #8
And regarding the repeated updates, such as `keyboardHeightUpdate: [0.0]` - every time the view is actually re-created, SwiftUI takes all the `.onReceive` modifiers and triggers the callback with the last actual value for the purpose of filling in the state of the view. It's not a duplicated update that somehow gets passed the filtering, it's how the SwiftUI makes sure your view is in a correct st

[2020-01-20 08:38] NeverwinterMoon commented on #8
OK, it wasn't even ForEach. Basically, the problem was caused by Firebase. I discovered that even when I was not using any of the Firebase Auth methods to detect login, but was just having `FirebaseApp.configure()` in `AppDelegate`, any single state change on the initial view, would spam view re-creation over and over until some internal Firebase stuff is fully initialised. This would cause from 5

[2020-01-21 13:52] GJNilsen opened #9 "App doesn't build"
/UnitTests/Mocks/MockedInteractors.swift:38:14: Identifier Name Violation: Enum element name should only contain alphanumeric characters: 'loadCountryDetails(_:)' (identifier_name)

/UnitTests/Mocks/MockedInteractors.swift:63:14: Identifier Name Violation: Enum element name should only contain alphanumeric characters: 'loadImage(_:)' (identifier_name)

/UnitTests/Mocks/MockedWebRepositories.swift:

[2020-01-22 06:11] nalexn commented on #9
Run this in Terminal:

`brew uninstall --force swiftlint && brew install swiftlint`

[2020-01-23 07:17] nalexn commented on #9
@GJNilsen , alternatively, you can remove the Swiftlint check from the Build Phases. Closing this issue

<img width="755" alt="Screenshot 2020-01-23 at 13 13 43" src="https://user-images.githubusercontent.com/1594746/72963796-608d5600-3de2-11ea-81e1-530d9a8f7516.png">

[2020-01-23 07:17] #9 closed

[2020-01-23 07:19] #1 closed

[2020-01-23 09:07] GJNilsen commented on #9
Thanks. Btw Swiftlint should probably be listed as a requirement in the read me.

[2020-01-23 09:09] nalexn commented on #9
It's not a requirement. Shell command checks if swiftlint is installed and skips this step otherwise:

[code]

[2020-01-23 09:10] nalexn commented on #9
In your case, you probably had a quite old swiftlint version that didn't support some commands from the config file

[2020-01-27 14:37] anatoliyv opened #10 "Countries not loading with error in console on iOS 13.3 simulator"
On iOS 13.3 app is not working. Infinite loading indicator with error in console
[code]

[2020-01-27 17:36] nalexn commented on #10
Hm, just tested on iOS simulator 13.3 for iPhone, iPad, and on a real device. The list of countries / details seem to work with no issues.

I've pushed couple commits (you may want to pull), but they are unrelated to the issue you're observing.

Could you retry with other targets (Catalyst, real device)?

[2020-01-28 08:41] anatoliyv commented on #10
@nalexn Yes you're right. There were few commits I did not pull. Latest code works fine.

[2020-01-28 08:41] #10 closed

[2020-02-14 10:15] NeverwinterMoon commented on #8
OK, I ran into another issue which is related to re-creating the same views. Hope it's not a problem that I just write it here.

Say, I have `RootView` that can present `SomeOtherView` based on state. `SomeOtherView` has an ability to change global state which `RootView` is also subscribed to. Whenever `SomeOtherView` changes that state, `RootView` actually re-creates `SomeOtherView`. Now, it woul

[2020-02-14 10:48] nalexn commented on #8
@NeverwinterMoon I see the problem. You're right, this is the flaw in the design. I think the right approach would be to store the AnyCancellable token in the .isLoading enum value. This way it will have the correct lifetime and also provide the flexibility of canceling the operation at any moment.

The current approach was feasible in UIKit, as the lifetime of the view indicated the maintained in

[2020-02-15 15:40] nalexn commented on #8
I've updated the project to use the suggested approach. I think I should close this issue. Feel free to open a new one once you have another question!

[2020-02-15 15:40] #8 closed

[2020-02-16 17:00] iomark opened #11 "Question: presenting another same view in view hierarchy"
Hello Alex,

Thank you for your architecture example and articles, they are awesome and help me a lot to understand how to work with SwiftUI.

I would like to ask you about more complex navigation in the example. For example, the application has to show CountryDetails from ModalDetailsView. I tried to implement this in fork https://github.com/iomark/clean-architecture-swiftui/tree/test/same_view .

[2020-02-16 17:43] nalexn commented on #11
Hi @iomark,

This is indeed a really weird UI effect! From my observation, the current revision of NavigationView in SwiftUI is [broken](https://github.com/nalexn/clean-architecture-swiftui/issues/4): its inner state management is totally screwed up.

If you replace one line of code from what you have:

[code]

to this:

[code]
... the effect will go away (with one if (1)). Although we have a moda

[2020-02-16 19:51] iomark commented on #11
thank you for the detailed answer.

Is it possible that two CountryDetails view instances use the same AppState.routing.countryDetails.detailsSheet bool state variable and it leads to presenting new ModalDetails view that uses single common AppState.routing.modalDetails.countryDetailsPresented and the cycle repeats again and again?

[2020-02-16 20:00] iomark commented on #11
My fork branch has logging AppState.routing.didSet and view path
**CountryList->(Select Afghanistan)->CountryDetails->(Tap Flag)->ModalDetails->(Tap Show Country)->(Infinite View Presenting Loop)**
has next log:

AppState, routing:
AppState.ViewRouting:
  countriesList: CountriesList.Routing, countryDetails: AFG
  countryDetails: CountryDetails.Routing, detailsSheet: false
  modalDetails: ModalDet

[2020-02-17 12:32] nalexn commented on #11
That is correct. If we want to present two identical views in different places in the hierarchy with connected programmatic navigation, the screens must not share the presentation state.

We'd need to have separate variables in the AppState and guide the view upon construction which state variable to use (inject as init parameter for the view)

[2020-02-17 19:50] #11 closed

[2020-02-18 05:18] nouulido opened #12 "License"
Such a great example, thank you! Could you add a license to the project?

[2020-02-18 13:25] nalexn commented on #12
Thank you @nouulido ! I didn't notice that!

[2020-02-18 13:25] #12 closed

[2020-02-20 20:28] shengchalover commented on #1
Thanks a lot!

[2020-02-27 22:48] Patrick3131 opened #13 "Another Question about Navigation/Routing"
Hey Alex, thanks a lot for your example application.

I am creating another sample app based on the provided architecture of your example to get a better understanding of SwiftUI and Combine.

I have another problem with the navigation/routing. I basically copied your approach but I have these weird back and forth navigation behaviour, maybe you could take a look at my code. I have been going thro

[2020-02-28 12:18] nalexn commented on #13
Hi @Patrick3131

So I could find two issues in your code. The main one that was causing the weird back and forth navigation was this code:

[code]

You are returning a random UUID each time this computed property is called, which totally confuses SwiftUI's list.

Here is a correct revision:

[code]

Another issue is that you didn't inject the `DIContainer` in the hierarchy, and the default value w

[2020-02-28 16:00] Patrick3131 commented on #13
Thanks a lot, it works!

[2020-02-28 16:00] #13 closed

[2020-03-05 07:15] NeverwinterMoon opened #14 "Examples of custom full-screen transition animations based on Routing"
Would you consider adding an example of full-screen view transition animations based on Routing to this project? Something where both - the new view and the previous view - would have different transition animations. Say, previous view scales down and the new view slides in.

[2020-03-05 08:57] nalexn commented on #14
Hey @NeverwinterMoon ,

Adding the transition animation is fairly straightforward. All you need to do is to wrap the container that alters between those two screens in `.transition(...)` modifier and wrap the change of the navigation state in `withAnimation { /* toggle the navigation state */ }`. Here is an example of the view that applies "scale down; slide in" transition to the fullscreen views:

[2020-03-05 09:31] NeverwinterMoon commented on #14
Using the example you provided, let's say, we transition from A to B: A is scaled down and B slides in from the right side. All good. Now, when we close B, the expected animation would be to reverse the original animations: B slides to the side it came from and A scales up. With the given example, it looks super-weird: when going back from B to A, A slides in from the right side. So wrapping the c

[2020-03-05 10:02] nalexn commented on #14
In this case, you can inject a bool parameter and configure the transition as needed:

[code]

[2020-03-05 10:08] nalexn commented on #14
An alternative, as you suggested, transitions can be configured individually for each view:

[code]

[2020-03-05 11:54] NeverwinterMoon commented on #14
This is a bit unrelated, but I've noticed it when playing with transition animations. When using `AnyView`, `onAppear` has an unexpected (for me) behaviour:

[code]

What happens:
- Text view from the `.notRequested` branch appears
- `.notRequested: BLA VIEW` printed from `onAppear` attached to `Text` view in `.notRequested` branch
- `loadingView` appears but its `onAppear` is ignored

I am a bit

[2020-03-05 13:27] nalexn commented on #14
I think the problem might be that you're using async dispatch for the state mutation. This is unsafe for SwiftUI - you can read the section `Schrödinger’s @State` in [this article](https://nalexn.github.io/stranger-things-swiftui-state/).

For SwiftUI, such a mutation is unexpected, so it cannot properly handle it. A proper way to make an async state mutation is by using Combine's publishers with

[2020-03-05 13:44] NeverwinterMoon commented on #14
In real example, I was actually using the approach you described and was having the exactly same issue.

What I've noticed is this though:

[code]

This, on the other hand, works as I expect it:

[code]

[2020-03-05 15:54] nalexn commented on #14
Hm... If async dispatch fixes the issue when `onDisappear` is not being called, I would keep it until SwiftUI matures. It seems like a bug.

[2020-03-29 13:47] nalexn commented on #14
@NeverwinterMoon have you tried running this on iOS 13.4? I'm seeing that the issue with navigation was fixed, but I'm holding the commit until Travis supports iOS 13.4

[2020-04-15 03:30] xinhuang327 opened #15 "Improper view layout after swiping to navigate back to search result"
I found that after swiping to navigate back in detail view to search result (with soft keyboard) will lead to improper layout, check the screenshot below:
![IMG_2351](https://user-images.githubusercontent.com/6767625/79295708-efa29980-7f0b-11ea-85ea-7461baec3d85.PNG)

I wonder if it's another bug in SwiftUI or not good integration of SearchBar.

[2020-04-19 20:28] ramtest55 opened #16 "@Enviroment vs @EnviromentObject"
I am pretty new to iOS development and I don't have background of Javascript and UIKit. I am learning SwiftUI directly.

Why did you used @Enviroment and not @EnviromentObject in your project? Can you please add comments in your code so it will more useful for beginners like me.

Thanks for creating this project and post related to it.  It was very helpful and appreciated :)

[2020-04-19 20:33] nalexn commented on #16
Hi @ramtest55
This app was using `@EnviromentObject` until I [discovered](https://nalexn.github.io/swiftui-observableobject/) certain performance issues. If you need I can search for the last commit in this repo with `@EnviromentObject`

[2020-04-19 20:35] nalexn commented on #16
Good point about the comments. Could you give me a hint on which places lack them the most?

[2020-04-19 21:28] ramtest55 commented on #16
Thanks @nalexn for the post link!

**I thought**, If many views are referring to central app state and central app state value changes, then the views currently on the screen only for those views values are recomputed and other views will lazily recompute values when needed.
For example,

[code]
Let's say I am on Profile page then updating auth token will only recompute ProfileUpdate view and sign

[2020-04-19 21:34] ramtest55 commented on #16
As a new developer, I feel @EnviromentObject will help me a lot and I dont have many views. Can you please point me to commit where you used @EnviromentObject with AppState as class.

[2020-04-20 17:52] ahmadabudawod opened #17 "Decoding JSON to Swift Model Not Root Level"
I have one case related to decoding JSON, while I have created a model based on the JSON structure which is dictionary but the data that I need is in nested fields with an array type, not at the root level.

Based on the architecture of your application how I can go directly to nested filed to get array because I got the below error once I am trying to parse the actual JSON retrieved from API.

Er

[2020-04-20 20:19] nalexn commented on #15
Hm, an interesting bug. I've tried to replicate it with no luck. Glitches in the navigation bar are unfortunately quite common in SwiftUI, but you're right, search bar might also be causing it.

[2020-04-20 20:22] nalexn commented on #17
Hey, I'd be able to help if you provide a concrete json example and the data structures you currently use for parsing. This might be helpful as well: [encoding and decoding custom types](https://developer.apple.com/documentation/foundation/archives_and_serialization/encoding_and_decoding_custom_types)

[2020-04-20 20:27] nalexn commented on #16
@ramtest55 this should be the last commit prior migration to the `@Environment`: https://github.com/nalexn/clean-architecture-swiftui/commit/ad65ef5a66591c1db6169457c88b557f7848f734

[2020-04-21 08:36] ahmadabudawod commented on #17
Thanks  @nalexn  for your quick response, I have found how I can go to nested items from web-repository to be mapped with data structure at interactors.
Below the line code that I have updated in your great sample app.

`            .sinkToLoadable { weakAppState?[\.userData.items] = $0.map { (**$0.records ?? []**) }}
`

[2020-04-21 09:54] NeverwinterMoon commented on #14
@nalexn Sorry for late reply. I've read this and then didn't have time to test right away and forgotten about this. I've just tested with 13.4 and it seems that I can't reproduce the problem any longer.

[2020-04-21 10:02] NeverwinterMoon opened #18 "Example of handling notifications using the clean architecture"
Would be nice to see an example of how to handle notifications, especially the silent ones that would trigger some data fetch/update.

Seeing as notifications are handled in AppDelegate callback, how would one go around hooking the logic from, say, `Interactors`.

So far, I see that it's possible to handle non-silent notifications in scene delegate like this:

[code]

And for silent notifications:

[2020-04-23 20:08] Patrick3131 opened #19 "Separate Routing/Navigation from View"
Hi Alex, as I mentioned before I like your sample project, your thoughts and implementation of SwiftUI and Combine.

I want to separate the View from the navigation flow, therefore I created a separate Router. The router contains the state of the routing or visibility of sheet popups and takes care of creating the destinations, basically NavigationLink vViews.
Therefore the view does not know abou

[2020-04-25 18:31] nalexn commented on #18
That's a good idea, I'll add these! Stay tuned!

[2020-04-25 19:01] nalexn commented on #19
@Patrick3131 ,

Unlike with views in UIKit, we cannot take a SwiftUI view and ask it to layout subviews, or render onto an image context. A SwiftUI view is absolutely useless without the drawing engine, which also owns the state (and the view only receives a reference to that state at render time, [even when it uses a local @State](https://nalexn.github.io/stranger-things-swiftui-state/)).

A View

[2020-04-26 23:10] nalexn commented on #18
@NeverwinterMoon , I've added handling of silent notifications and the notifications with a deep link. The project now contains a test `.apns` notification payload you can drag & drop onto the Simulator. Thank you for suggesting this!

[2020-04-27 07:09] NeverwinterMoon commented on #18
@nalexn This is amazing! Thanks a lot for a quick response time and great work. This is definitely cleaner than my own implementation. Will try to find time today to check out how I can improve my code based on your work.

[2020-04-27 21:39] nalexn commented on #14
Ok, closing this one.

[2020-04-27 21:39] #14 closed

[2020-04-27 21:41] nalexn commented on #17
Great! Feel free to open a new issue if something else pops up

[2020-04-27 21:41] #17 closed

[2020-04-30 22:31] kmenager opened #20 "Question: infinite scroll"
I found your repository and architecture like Redux is quite new for me.
I wonder how to use your architecture with infinite scroll.
Imagine your application with only network call. How will you handle infinite scroll with your architecture? Where do you store the current list of country + the fresh new one from the server? How would you use your loadable class in such architecture for this kind o

[2020-05-02 06:48] AndriiTsok opened #21 "Question: Multiple interactor calls"
We have a page with a non persistent data (we don't use AppState for this one).
It displays two types of information, let's say Product details and Company record.

We are fetching Product data through interactor call and binding its value to loadable binding state by onAppear event.

Once we got the product info data that contains company id - we are pulling the company record. Right now we are d

[2020-05-02 10:21] nalexn commented on #20
Good question. You can obviously introduce another enum similar to `Loadable` that would better suit your needs, but I can see how this problem can be solved with the original enum.
We can include the pagination info in the generic parameter for `Loadable`, that is if we had `Loadable<[Feed]>`, this can be `Loadable<([Feed], PageInfo)>`.

Use case 1: Opening the screen for the first time
The enum

[2020-05-02 11:09] nalexn commented on #21
I'd suggest reorganizing the Interactors in this example. There is a clear dependency between loading `Product` and `Company`, UI cannot do anything until both are loaded.

The job of the Interactor is not only to be a facade between UI and networking layer, but more importantly, it should provide a convenient API for the UI layer while hiding all the complexity of the business logic.

In terms of

[2020-05-02 12:45] AndriiTsok commented on #21
Thank you @nalexn for your advice! I am closing this one.

[2020-05-02 12:45] #21 closed

[2020-05-03 06:36] kmenager commented on #20
Thanks for your feedback 👌

[2020-05-03 06:36] #20 closed

[2020-05-04 10:11] andreybuksha opened #22 "Question: Dealing with auth tokens using clean architecture"
How should I set auth token?
After I authenticate I need to pass auth token in headers for every request.
In your article you briefly mentioned that tokens would be stored in AppState.
But how can I access token stored in state on Repository level (since we set headers over there)

[2020-05-05 07:40] nalexn commented on #22
You can simply inject `Store<AppState>` as an init parameter at the lowest networking level (URLSession) or at the level of Repositories. AppState is created [before](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/System/AppEnvironment.swift#L36) all the rest of the infrastructure, so you can inject it in any system module that needs it.

[2020-05-07 00:30] avishnyak opened #23 "Question: External events"
How would you add a BLE peripheral manager to this architecture?

Seems like it would be a handler but where would the business logic of responding the events go?

[2020-05-09 10:16] nalexn commented on #23
Any service that does not rely on any delegate methods in AppDelegate can be represented as an isolated entity and put inside DIContainer.

If the entity accepts any input from the UI, you'd need to add an Interactor, otherwise, you can go with a "handler" with a private access level for the UI.

In the case with BLE manager, it looks like you'd need to accept some input from the user, likewise wh

[2020-05-10 16:19] fernandocardenasm opened #24 "Question: AppLaunch Time and Memory management for Store"
First of all, thanks for the great demo.

I have two questions when the App gets bigger and it needs many Services:
1. You initilaize the store before the app Lauch in AppEnvironment.bootstrap(), wouldnt it have a negative impact in the app launch time.
2. Once a service or state is created, it will remain in memory in the Store, wouldnt that affect the app performance or take to much memory when

[2020-05-10 17:08] nalexn commented on #24
Let's estimate the memory impact of the growing AppState and Services.

Services mostly don't have their own state (they rely on the AppState), so every instance takes up just the memory required to keep an empty struct (or object) in memory, which can be estimated as 8 bytes pointer in 64-bit OS. So if our app had 100 various services, the memory footprint would be still less than 1KB, which is n

[2020-05-10 18:41] fernandocardenasm opened #25 "Question: AppState Scalability and Encapsulation"
It´s difficult for me to see how the AppState is scalable, if you have many screens, and each screen has specific and shared states, it would require that I create nested structs in the AppState to make it more modular, but it will also make it bigger. How maintable and scalable do you think the AppState is?

The previous leads to my next point. In a View you have the store as a property, and if y

[2020-05-10 19:24] nalexn commented on #25
I will not argue on the point that keeping all state in one place is not the silver bullet, thus it has to have its downsides, like the ones you mentioned. However, this concept isn't new and has been used in various schemes like REDUX and has proven to be maintainable and scalable [enough](https://levelup.gitconnected.com/structure-your-react-redux-project-for-scalability-and-maintainability-618a

[2020-05-13 16:01] NeverwinterMoon opened #26 "Image caching"
Hi!

Some time ago, you've swapped your own implementation of file/in memory caching in favour of URLSessionConfiguration caching.

The latter approach does not work that well in some cases. Say, the image was missing at some specific URL (maybe the server was down), the data is returned (for instance, it was an error page) and is cached. This data couldn't be converted to image (`UIImage(data: da

[2020-05-23 11:13] golangnext opened #28 "cancel() in CancelBag"
I noticed there's a method of `cancel` in CancelBag. When to use this method? (I can not find a case in your project)

[2020-05-24 10:23] nalexn commented on #28
Hey @golangnext , there is a [button](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/UI/Screens/CountryDetails.swift#L78) on the Country Details screen that allows you to cancel loading the data. That button actually triggers `cancel` on the CancelBag that keeps the running request alive.

[2020-05-24 16:59] nalexn commented on #26
Hey @NeverwinterMoon ,
Thanks for pointing out to this interesting edge case, I've implemented a [fix](https://github.com/nalexn/clean-architecture-swiftui/commit/37a0ec3b90abf328196ad74f18e8118a8e547b70#diff-5eb91f22ae4f2cb4db3324af3ed37b67R99).

[2020-05-25 20:46] golangnext commented on #28
oh, yes, we don't need to explicity call cancel method.  An AnyCancellable instance automatically calls cancel() when deinitialized.

[2020-05-25 20:46] #28 closed

[2020-05-27 19:46] #26 closed

[2020-06-07 10:28] mnightingale opened #29 "Question: Handling multiple loadables"
How would you deal with views that require more than one loadable?

Your view `private var content: AnyView` always switches on the status of one loadable, but I think I have a situation where I need to wait for multiple loaders to have loaded before drawing a loaded view.

I figure I could use one loader and pass it a tuple, but that seems really messy.
I wonder if I want some kind of loader cont

[2020-06-07 11:46] nalexn commented on #29
Hey @mnightingale
Your case is somewhat similar to the one discussed [here](https://github.com/nalexn/clean-architecture-swiftui/issues/21).

You should go from what works best for your UI. Can it show something meaningful when the first request has loaded but the second one is not?

If the answer is no (UI would still have to show the same loading indicator) - then you should use one Loadable whi

[2020-06-09 08:07] mnightingale commented on #29
Thanks @nalexn that's a really thorough answer.

[2020-06-09 08:07] #29 closed

[2020-06-11 08:56] RustamG opened #30 "@ObservedObject ViewModels"
Hi Alexey.

I see you are using `@ObservedObject` for ViewModels in [MVVM branch](https://github.com/nalexn/clean-architecture-swiftui/tree/mvvm). Earlier you posted an [article](https://nalexn.github.io/swiftui-observableobject/) why you quit using `@ObservableObject`. The main point of not using it is that you cannot simply compare ViewModels when implementing `Equatable` for the views because t

[2020-06-11 09:11] nalexn commented on #30
Hey @RustamG , yes, `ObservableObject` may introduce performance overhead when there are hundreds of views observing it (the case of Redux-like application with the centralized state). If there are just views inside one screen that are subscribed on a single `ObservableObject` (like with MVVM), the issue is not so apparent and convenience can take precedence over the performance harm (which is min

[2020-06-11 16:09] RustamG commented on #30
Thanks for the tip @nalexn. Will give it a try

[2020-06-12 07:47] mnightingale opened #31 "Question: UserDefaults"
How would you deal with UserDefaults?, usually I'd use an ObservableObject.
But would it be preferable for the status of preferences to be in the store?

I've tried adding an interactor that has UserDefaults backed properties, but then they aren't bindable directly I guess it would have to work like routing?
Interactor => [Subscribes to UserDefaults changes and pushed to Store]
Then you'd need som

[2020-06-13 11:52] nalexn commented on #31
Although `UserDefaults` is pretty simple and can be accessed synchronously, it's still a data gateway, just like a local database or a web server. Thus, it deserves its own `Repository` that would abstract away the access details. This would make it easier to evolve the project when you decide to migrate the values to a database or Keychain, share the values within the App Group, or reorganize the

[2020-06-21 14:42] zrfrank opened #32 "Question: Why would the AnyPublisher be used everywhere?"

[2020-06-21 15:54] nalexn commented on #32
Hey @zrfrank

Publishers in Combine maintain type information as you chain them. In the following example, the `publisher` variable will have the type `Publishers.Debounce<Publishers.Delay<Just<Int>, RunLoop>, RunLoop>`:

[code]

So if we need to return this value from a function, we have to specify the full type information as the return type of the function. This would be crazy inconvenient and

[2020-06-22 07:34] zrfrank commented on #32
Thanks! Really excellent explanations!

[2020-06-22 07:34] #32 closed

[2020-06-22 07:41] zrfrank opened #33 "Blog Suggestion: CoreData, Clean Architecture, Combine and SwiftUI"
Would you, at some point, write a blog post about your methods about,
how to integrate the Core Data (with CloudKit-enabled) into Clean Architecture using Combine;
and how could we from the SwiftUI update the data source, while maintaining their synchronous.

Like, how would you bridging the Data Layer(which is `struct` based) and the Core Data(which is `class of NSManagedObject`); Will the same d

[2020-06-27 08:09] nalexn commented on #31
SwiftUI 2.0 update:
Apple has introduced `@AppStorage` property wrapper, which introduces observable `UserDefaults` right into UI.

This aligns perfectly with the concept of SwiftUI - super-quick prototyping and development, a-la "move fast and break things". This is the spirit of SwiftUI.

Maybe I'm thinking mostly from the perspective of building large scale production apps on UIKit - so I'm not

[2020-06-28 09:30] nalexn commented on #33
Hey @zrfrank , I've put this in the list of the topics to write about, thank you for the proposal. I cannot give you an ETA on that though, I lack free time lately, but I'll do my best!

[2020-06-29 02:02] zrfrank commented on #33
Thanks!

[2020-06-29 02:02] #33 closed

[2020-07-05 13:31] nalexn commented on #4
Ok, the bug has been fixed in iOS 13.5 and so I could finally remove that workaround. Closing this issue.

[2020-07-05 13:31] #4 closed

[2020-07-22 16:56] faris-mobile89 opened #34 "Modular Architecture Support"
I like the architecture. But I'm wondering how we can share the App State through other modules and how other modules can change that state. If you have some thoughts on this please advise.

[2020-07-23 15:12] nalexn commented on #34
Hey @faris-mobile89

If you need to access the AppState from the UI layer - you use @Environment injection of DI container, which carries the reference to the AppState.

The business logic layer has access to the AppState by design - AppState is injected as part of the module initialization. The same applies to the Data layer - you can inject App State as needed.

You can check out [this part](htt

[2020-07-23 19:16] faris-mobile89 commented on #34
The question is different, let me explain more. to scale the project for multiple teams we need multiple targets & frameworks. we will breakdown the features as frameworks using Cocoapods or Carthage. Hence, the classes and protocols will be abstract and private for other frameworks. Let's say we want to break down this demo to Modular architecture, The AppState and main dependency container will

[2020-07-25 13:18] nalexn commented on #34
This is hard to advise having just this diagram on hands. In my experience, when we had to break down the project into frameworks, it'd grow horizontally, not vertically. I understand each of the layers you have will be growing horizontally too, although I don't understand the motivation of having that many vertical layers.

The core frameworks should not change too often, otherwise, you'd need to

[2020-08-18 11:32] glebus opened #35 "Routing state consistency"
First of all I would like to say "Thank you" for this great example!

I have a question regarding routing state consistency - when app opens country details it setups `injected.appState[\.routing.countriesList.countryDetails] = #countryId#`, but when user clicks Back button, I think, we need to clean routing value. I found the function `goBack()`, but I don't see any callers.

Could you please cla

[2020-08-20 22:15] SubbuEkincare opened #36 "Can you please provide the documentation for MVVM branch."
I am quite new to combine and SwiftUI. I can't understand all the components that are created here.

[2020-08-26 20:12] pacu opened #37 "test notification opens current detail instead of the payload one then crashes"
When dragging the notification file to the simulator, routing is inconsistent.

Example:

Let app be in the country list screen
drag notification file to simulator
app routes to Andorra's flag detail ✅

Let app be in  Belgium detail
drag notification file to simulator
app routes to Belgium's flag detail
[Crash] when user taps close on Belgium's flag detail❌

[code]
Xcode: 11.6

[2020-08-28 14:09] nalexn commented on #35
Hey @glebus

The navigation state in SwiftUI can be toggled explicitly by our code or implicitly from inside system SwiftUI views that consume `Binding` for navigation state. Check out [this line](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/UI/Screens/CountriesList.swift#L155) of the CountriesList view. I've removed the `goBack()` function, it's a leftover aft

[2020-08-28 14:13] nalexn commented on #37
Hey @pacu

Thanks for finding this edge case. This is clearly a bug in SwiftUI, and sadly it's present in iOS 14 as well.
I've enrolled a [workaround](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/System/DeepLinksHandler.swift#L54), where the navigation state is reset to default first and after a delay routes to where it suppose to be.

[2020-08-28 14:26] nalexn commented on #36
@SubbuEkincare
You can refer to a few of my articles [referenced](https://github.com/nalexn/clean-architecture-swiftui#articles-related-to-this-project) in the readme, I'm afraid the extensive documentation for every single entity in the project is not coming any time soon, as it's extremely time-consuming. I'd rather asked you to clarify which exact pieces are hard to grasp so I could provide mor

[2020-09-13 00:06] #37 closed

[2020-09-13 00:07] nalexn commented on #35
I'm closing this one if you don't have more questions

[2020-09-13 00:07] #35 closed

[2020-09-13 00:07] #31 closed

[2020-09-13 00:08] #30 closed

[2020-09-13 00:08] #25 closed

[2020-09-13 00:09] #24 closed

[2020-09-13 00:09] #23 closed

[2020-09-13 00:18] #22 closed

[2020-09-13 00:18] #19 closed

[2020-09-13 00:19] #16 closed

[2020-09-13 00:19] #18 closed

[2020-09-16 11:18] NeverwinterMoon opened #38 "Xcode 12 GM warnings when updating local state from AppState"
Not sure how critical this is, I just jumped into Xcode 12 GM today, but I have loads of warnings which were not there with Xcode 11. Once again, not sure it actually affects anything, but maybe worth mentioning.

Basically, all the local state updates which come from the injected AppState updates are marked like this:

![image](https://user-images.githubusercontent.com/1917308/93330309-47309280-f

[2020-09-16 23:33] moh-abk opened #39 "Access contents of lazylist"
Awesome template for clean architecture!

I've the below combine pipeline which is the opposite of way you're handling data in this template;
In most real world scenarios;

- data is first fetched from the web
- then stored in the db
- if fetching from web fails
- load from db

[code]

`repository.store(cards: )` accepts an array of cards - `[Card]` - how can I unpack `LazyList` and turn it into a

[2020-09-17 08:49] nalexn commented on #39
Hey,

`LazyList` conforms to `Sequence` and `RandomAccessCollection`, so you can do just `Array(list)`

[2020-09-17 08:54] nalexn commented on #39
You may want to refactor your code and get rid of `LazyList` in the middle. The main reason for its use in the sample project the was to allow for querying and converting CoreData objects to the data model used in the UI **lazily** for performance reasons.

[2020-09-17 09:12] moh-abk commented on #39
Thanks for quick response @nalexn
I don't understand your last comment;

- my dbrepository has - `func cards() -> AnyPublisher<LazyList<Card>, Error>`. PersistenceStore `fetch` always returns a `LazyList`

For your first comment, I updated the code to below;

[code]

But above I now get - `Cannot convert return expression of type '[Card]' to return type 'LazyList<Card>'`

[2020-09-17 09:21] nalexn commented on #38
These warnings cannot be ignored, we should find the cause.

I can assume you have some code in your project that updates the AppState while the view is being rendered: an [example](https://www.hackingwithswift.com/quick-start/swiftui/how-to-fix-modifying-state-during-view-update-this-will-cause-undefined-behavior).

I double-checked the sample project with the new Xcode and it doesn't throw these

[2020-09-17 09:36] nalexn commented on #39
You can to convert LazyList to Array earlier so the returned container type matches in every step in the chain:

[code]

[2020-09-17 22:54] moh-abk commented on #39
ended up getting rid of `LazyList` completely as your code snippet showed other errors and also kept tripping into - https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/Utilities/LazyList.swift#L124;

final code;

[code]

thanks for the pointers!

[2020-09-17 22:54] #39 closed

[2020-10-12 07:21] NeverwinterMoon commented on #38
My only culprit for something like you mentioned would be the use of willSet/didSet, but I don't even have those around the view I get the warnings at. But I did manage to find a connection between those warnings and the navigation. When I navigate to the view and do anything around it, there are no warnings. When I navigate one step deeper down the navigation stack and then return to the view in

[2020-10-12 13:38] pnghai opened #40 "Any update for SwiftUI 2.0?"
Hi, I checked that iOS 14 has transitioned into new life cycle (https://github.com/apple/swift-evolution/blob/master/proposals/0281-main-attribute.md), do you intent to make any update for it?

[2020-10-13 11:19] Andhar7 commented on #40
Hi, thank you Sent using the WEB.DE mail appOn 12.10.20 at 15:38, Hai Phan Nguyen wrote:

                    From: "Hai Phan Nguyen" <notifications@github.com>Date: 12 October 2020To: "nalexn/clean-architecture-swiftui" <clean-architecture-swiftui@noreply.github.com>Cc: "Subscribed" <subscribed@noreply.github.com>Subject: [nalexn/clean-architecture-swiftui] Any update for SwiftUI 2.0? (#40)

Hi,

[2020-10-16 10:10] NeverwinterMoon commented on #38
OK, I did tangle everything together. So I'll go step by step.

First of all, I have this navigation: `View1` -> `View2` -> `View3` -> `View4`

## The original problem
The warnings - they are actually caused by having this on `View2`:

[code]

I also tried to wrap the above in `DispatchQueue.main.async` and it didn't help.

Interestingly enough, when I go: `View1` -> `View2`, there are no warnings

[2020-10-17 11:56] nalexn commented on #40
Hey @pnghai

For now, I'm thinking that support for iOS 13 overweights the benefits of migrating the app delegate. Its current revision is extremely minimal, with all the business logic extracted to other modules, so I don't see much value (in terms of reference for others) in reworking it with @main. If you don't mind I'd just post here a sample code of migrated delegate later

[2020-10-17 12:15] nalexn commented on #38
Yeah, I was hoping programmatic navigation will become less buggy with the iOS update, but it looks like things got only worse.

I'll experiment more with your commit and try to find a workaround. I can see one way to unblock you if you're actively working on some project, but this involves quite some refactoring.

I recently wrote an [article](https://nalexn.github.io/uikit-switfui/), where I con

[2020-10-19 10:17] NeverwinterMoon commented on #38
Looks like a nice approach, that https://github.com/nalexn/uikit-swiftui. I wish I'd used that to begin with. I'll try it out at some point and see how it fits the project.

For now, I went with something like `@ObservedObject private var routing = GlobalRouting()` just for iOS 14. That was an easy change to make...

[2020-11-17 09:17] sisoje opened #41 "cancel bag is not needed"
AnyCancellable is doing cancel on deinit, it called RAII pattern:
https://developer.apple.com/documentation/combine/anycancellable

[code]

No need to call explicit cancel() on items. CancelBag looks like its not needed. It will cleanup a lot of code

[2020-11-17 09:25] sisoje opened #42 "test_sheetPresentationis failing - in CountryDetailsTests"

[2020-11-26 15:02] nalexn commented on #42
Yeah, fixed. Thanks!

[2020-11-26 15:02] #42 closed

[2020-11-26 15:18] nalexn commented on #41
You're right, calling `cancel()` is not needed, but there is just [one line](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/Utilities/CancelBag.swift#L15) in the project where it appears.

Other than that, I would argue that removing `CancelBag` is worth it. `CancelBag` is just as convenient as `Set<AnyCancellable>`, but has a clearer purpose and strictly scoped

[2020-11-26 15:37] sisoje commented on #41
This project is overengineered enough (in a good way) I just think CancelBag would make it clearer. Would you like me to prepare a PR with removed cancel bag?

[2020-11-26 15:44] nalexn commented on #41
I cannot forbid you from doing this, of course! Before you do, have a look at this [additional feature](https://github.com/nalexn/clean-architecture-swiftui/blob/mvvm/CountriesSwiftUI/Utilities/CancelBag.swift#L23) of `CancelBag` in the mvvm branch.

This trick actually has a [practical application](https://github.com/nalexn/clean-architecture-swiftui/blob/mvvm/CountriesSwiftUI/UI/Screens/Countrie

[2020-11-26 15:52] sisoje commented on #41
ok i see this additional feature of cancelbag... well ok for the fans "sugar sythax" this function builder may be also a good think to learn 👍

[2020-11-26 15:52] #41 closed

[2020-11-29 15:35] ChoiDongKyu96 opened #43 "Question: about your article of stranger-things-swiftui-state"
Hi
First of all, thank you
I'm learning a lot about clean architecture for Swift UI from you

[stranger-things-swiftui-state](https://nalexn.github.io/stranger-things-swiftui-state/) in the "Clean Architecture for SwiftUI" article, Coordinator is history Section
In this scenario,

[code]

Scenario 2 works differently.

Here's my code.
[code]
[code]

![image](https://user-images.githubusercontent.c

[2020-11-29 15:51] nalexn commented on #43
Possibly a SwiftUI 2.0 change. Could you try running this on iOS 13?

[2020-11-29 16:36] ChoiDongKyu96 commented on #43
I just installed the 13.0 simulator. and built.
Here's my code

[code]

![image](https://user-images.githubusercontent.com/54564170/100547794-05eb4300-32ac-11eb-949b-daf19228e279.png)

Something seems to be updated

[2020-12-02 23:21] magauran commented on #41
Hi, @nalexn! You can create the same extension for Set<AnyCancellable>

[code]

and create convenience typealias
[code]

[2020-12-13 13:20] phiberjenz opened #44 "Chain one or more calls on completion of the first"
Hi @nalexn and thank you for providing your knowledge regarding Swift and SwiftUI! Really awesome work.

I have a question regarding chaining of multiple requests on completion of the first. I've looked into #21 and you provided a solution there (different interactors though, in my case it's multiple endpoint of the same WebRepository, and I'm using the MVVM variant of this repo).
Instead of using

[2020-12-13 16:25] nalexn commented on #44
Hey @phiberjenz

Thank you for the questions!

This is because tuples in Swift, such as `(Token, User)`, ([yet](https://forums.swift.org/t/tuples-conform-to-equatable/32559)) cannot conform to protocols, including `Equatable`. A workaround is to use a struct instead of a tuple.

You certainly can do that. Moreover, it is perfectly fine to update the `AppState` several times for such chained reques

[2020-12-13 17:08] phiberjenz commented on #44
Just... wow! Thank you so much for you thorough answer, it's really helpful. I will definitely try out the handleAsLoadable straight away, this really saved my day 👍

Regarding the locks and keys principle, I will read through this and give it a go. At the moment I've solved it by injecting an "Authorization" header in the call function as such:

`func call<Value>(endpoint: APICall, httpCodes: HTT

[2020-12-17 00:08] #44 closed

[2021-01-08 14:02] Cobrijani opened #46 "Question: Accessing Loadable state outside CountriesList"
Hi,

Thanks for the awesome repository! It is a great source for beginners in IOS development to learn the basics of Architecture in SwiftUI Programming!

I was wondering based on your current solution, how would you expose the current state of the loadable to the parent component? For example, you want to show something else in the parent as soon as the loadable in the child is finished loading.

[2021-01-08 18:06] nalexn commented on #46
Hey @Cobrijani

Thank you for the feedback! Regarding your question, the state management in SwiftUI always complies with the "single source of truth" principle, so you'll need to choose the "owner" for this Loadable.

You have three options: parent component, child component, and AppState.

The AppState would make it accessible to the rest of the app - useful for some cases, but certainly not for

[2021-01-08 18:38] Cobrijani commented on #46
Hi @nalexn
Thanks for your answer! It completely makes to choose parent as owner in this case!

How would you implement parent ownership in case of view model approach?
Is LoadableSubject instead of Loadable needed in the view model in order to get the binding?

I tried creating Loadable Publisher in the parent and passing it to the child, but the updates in the parent are not being triggered when

[2021-01-08 18:57] nalexn commented on #46
Ok, the `Child` should consume the `Binding` in the init:

[code]

And you should pass the binding from the parent this way:

[code]

Note that `self.viewModel.$countries` will give you a `Publisher`, not a `Binding`.

I recommend reading my [other post](https://nalexn.github.io/stranger-things-swiftui-state/) where I cover these topics.

[2021-01-08 21:25] Cobrijani commented on #46
Hi @nalexn

In this that would LoadableSubject in the mvvm case?

Thank you very much!

[2021-01-13 02:03] guillevc opened #47 "bgQueue is unused in WebRepository"
Hello, I've just started digging in this project and I found that the `bgQueue` defined in `WebRepository` isn't used.

Is there something I'm missing or it isnt really necessary to define `bgQueue` in the protocol?

[2021-01-13 09:35] nalexn commented on #47
Hey @guillevc

[There are](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/Repositories/ImageWebRepository.swift#L40) a couple of places where it is used, though you're right, most of the `WebRepositories` don't use it.

The intent of `bgQueue` is for dispatching the work related to parsing the HTTP response or doing some other heavy operation (resizing the downlo

[2021-01-13 09:56] guillevc commented on #47
Thanks for the reply and for all the work put into this project. 👏

[2021-01-13 09:56] #47 closed

[2021-01-13 13:22] Cobrijani commented on #46
Hi @nalexn,

Great, thanks!

Best regards

[2021-02-10 20:11] claudius-kienle opened #48 "Question: navigate back programmatically"
First of all, thank you for the awesome architecture!

I encountered following problem, when trying to extend it with following scenario:

Supposing the `CountryDetailsView` has some kind of update button, e.g.:
[code]

The `CountryDetailsViewModel` consists now of following function:
[code]
So after 'updating' the country (in my case doing an api call),
i want the detail view to pop.
But doing so

[2021-02-12 22:54] teemobean opened #49 "How about making the example do modifications?"
This is an interesting model (I'm looking at the MVVM version)

Would you be able to implement updates via the UI into CoreData? It looks like the sample implementation implements the read path. I'd be curious how the write path works, specifically:

1. I'm curious how you would implement TextField updates (for example, to let the user change the name of a country). Simple implementations would bi

[2021-02-16 21:17] pauluhn commented on #48
I've been playing with this arch in two side projects and I've run into this as well.

For me, I'm not using MVVM variant, I opted for going with the redux-like one-way flow. So in my case, I would pass the details view a binding of the presentation flag set to true. When it was done, it would set that flag to false. That value propagates back to the parent who can then dismiss the child view.

Th

[2021-02-27 10:30] nalexn commented on #49
These are great questions @teemobean , I apologize for not providing the answers yet, as they need quite some time investment, which I currently cannot afford. Stay tuned!

[2021-03-19 15:06] #48 closed

[2021-03-22 21:55] guillevc opened #50 "ViewModels reinitialize after view changes"
First of all, thanks for all the work put onto this project. I'm building a project based off of this and it's looking really good, but I am encountering some issues that I explain below.

To summarize:

`ViewA` navigates to `ViewB`. To achieve this, I implement a `NavigationLink(destination: ViewB(viewModel: ViewBViewModel()))`. When inside `ViewB`, some app state is modified, which `ViewA` recei

[2021-03-29 18:14] guillevc commented on #50
Using `@StateObject` instead of `@ObservedObject` seems to stop views from recreating view models on every view refresh. So it could be a potential improvement, at least it's keeping things in place for me.

[2021-03-31 12:25] riley-usagi opened #53 "Обновление Loadable-объектов. Возможно ли?"
Во-первых хочу поблагодарить за проделанную работу. Проект получился очень показательным и в крайней степени полезным. Мне очень понравилась данная архитектура и хотелось бы использовать её во всех своих проектах (**SwiftUI**) в будущем.

Не могу сказать, что обладаю должным опытом, так что вопрос может показаться довольно глупым, но всё же.

Правильно я понимаю, что ```Loadable```-объекты, исполь

[2021-04-07 18:00] johnrnyquist opened #54 "Tapping flag results in error"
When running the app, if tap on any flag in the country detail, you get the following error:
`Thread 1: Simultaneous accesses to 0x7f9ef2eae650, but modification requires exclusive access`

[2021-04-08 18:12] nalexn commented on #54
Hey @johnrnyquist could you share which os version and device you were using?

[2021-04-08 18:20] nalexn commented on #53
Привет, `Loadable` это просто контейнер для корректной передачи состояния загружаемого контента для UI, без него возникают осложнения разные - подробнее я описывал в [этой статье](https://nalexn.github.io/mvvm-state-redundancy/).

Не совсем понимаю, что ты имеешь в виду под записью, но сами по себе Loadable не мутабельны, и так и должно быть. UI не должен иметь возможность менять данные напрямую,

[2021-04-20 19:23] johnrnyquist commented on #54
I'm so sorry for the delay @nalexn! I was using 14.4 when I encountered the issue running on the 2nd generation iPhone SE simulator.

[2021-04-28 08:22] #53 closed

[2021-04-28 08:22] riley-usagi commented on #53
Понадобилось ещё какое-то время, чтобы понять в чём суть, но, да... Спасибо за объяснение)

[2021-05-01 20:08] amadeu01 opened #55 "What is the propose of `inspect` on RootViewApparence?"
When and why `inspection = PassthroughSubject<((AnyView) -> Void), Never>()` is used on `RootViewApparence` ?

https://github.com/nalexn/clean-architecture-swiftui/blob/7ef2ab4963725507b157c0ed553db57e68240717/CountriesSwiftUI/UI/RootViewModifier.swift#L24-L26

I was checking https://github.com/nalexn/clean-architecture-swiftui/commit/ce82dfe715bb596757581c2af37e46eb32ff8dc2 however I am not sure

[2021-05-03 17:26] jrmybrault opened #56 "Question: clean architecture, boundaries and reactive frameworks"
Hello !

I just discovered your work through this breakdown https://nalexn.github.io/uikit-switfui/ and followed my way up to here :).  First of all thank you for this very well articulated article. While reading it, I was thinking "yes.. yes... oh yeah ! been there, see what you mean... totally agree and very-well phrased... this guy is on point !"
I especially loved this part:
"Nevertheless, the

[2021-05-03 20:36] nalexn commented on #56
Hey Jeremy!

That’s a great question! It is theoretically possible to abstract access to every framework used by the app, but most likely this will be overkill. I tend to make a decision whether to isolate a framework behind a wrapper / facade based on many factors.

1. Trust to the vendor. I don’t trust certain Apple’s frameworks, some third party vendors like Facebook and Google, because I’ve ha

[2021-05-04 06:46] jrmybrault commented on #56
Hello Alexey,

thanks for your answer. That's a very interesting take indeed.

I guess I have an harder time trusting vendor, whoever they are, especially when their APIs tends to propagate like crazy. But in a sense, RxSwift has quite a number of years behind it now and will probably not disappear tomorrow, I'll give you that. Yet I'm pretty convinced that RxSwift will not survive Combine, in the

[2021-05-11 15:32] markych96 opened #57 "UnitTests compile error"
can't run unit tests:

'init()' is unavailable in SystemEventsHandlerTests.swift:167:9

clean-architecture-swiftui/UnitTests/System/SystemEventsHandlerTests.swift:167:9: 'init()' is unavailable

/UIKit.UIOpenURLContext:6:12: 'init()' has been explicitly marked unavailable here

[2021-05-13 05:07] markych96 commented on #57
found some workaround about that issue, ant don't know how implement this, may be this useful

https://developer.apple.com/forums/thread/29851

[2021-05-18 19:20] nalexn commented on #57
@markych96 thanks for reporting this! Haven't used Obj-C for 5+ years, but had to appeal to it to work around the issue. The fix is pushed.

[2021-05-18 19:20] #57 closed

[2021-05-18 19:50] nalexn commented on #55
Hey @amadeu01 sorry for the late response. Correct, that thing is used purely in tests by the ViewInspector, and this is a necessary workaround to make `RootViewApparence` testable, since that modifier is using `@State` ([more info about it](https://github.com/nalexn/ViewInspector/blob/master/guide.md#views-using-state-environment-or-environmentobject) in the ViewInspector guide).

[2021-05-19 07:30] nalexn commented on #54
Just launched tests on SE 2gen iOS 14.4, - no such error. Please consider re-testing the most recent code from the repo using the latest Xcode

[2021-05-25 13:26] Rofl113 opened #58 "Deeplink first run App"
Add to file SceneDelegate:
[code]

[2021-05-28 06:53] mohammad19991 opened #59 "The reversed data flow from the standard SwiftUI views back to the AppState"
Hi @nalexn

I like what you did with this clean-architecture approach,  I read some of your articles related to SwiftUI State and I saw the below implementation of reversing the data flow from views to AppState:

[code]

where you will use it like this:
[code]

It works in terms of updating the `AppState`, but if we look at the implementation of `dispatched/onSet` function we notice that it wraps

[2021-06-05 10:42] nalexn commented on #59
Hey @mohammad19991 , thanks for the heads up! Not sure if I understood the case fully, here is the recap of the mechanics to make sure we're on the same page:

There is an `@State` variable that we want to pass along for mutation using `Binding` AND update the AppState when the change happens. Normally we'd just used `$` prefix to access the Binding, but this won't give us ability to listen to mut

[2021-06-05 10:51] nalexn commented on #58
I've added that, thanks!

[2021-06-05 10:51] #58 closed

[2021-06-06 10:50] mohammad19991 commented on #59
yes that's right @nalexn, I'm referring to the rerender caused by setting the same values to the @State. specifically am talking about this `func onSet`

[code]

[2021-06-06 11:13] nalexn commented on #59
Gotcha. That's an easy fix then:

[code]
I've pushed the fix. Thanks for the reporting!

[2021-06-06 13:15] mohammad19991 commented on #59
Thanks, I'll test it and let you know.

[2021-06-06 18:52] mohammad19991 commented on #59
@nalexn it's not working, to help you understand more about the issue I made [this project](https://github.com/mohammad19991/SwiftUI-Clean-Arch) to demonstrate the issue, there are 2 branches the first one is the `main` branch which uses the Binding proxy `func dispatched(to:..)` and the other branch is just using the local `Routing`. I added Print statements to show when the views are being rende

[2021-06-06 18:54] mohammad19991 commented on #59
Another concern I would mention that having two `Routing`s one local and another on in `AppState` this means we have two source of truth maybe it would be better just to use the one in `AppState` without making another one locally somehow.

[2021-06-15 10:18] riley-usagi opened #60 "Странное поведение метода onAppear во вложенных View, и использованием Loadable-объектов"
Добрый день.

Столкнулся с необъяснимым, для меня, поведением метода ```onAppear``` в процессе рендера ```View``` внутри ```View```, с использованием ```Loadable```-объектов в обоих вьюхах.

Суть проблемы на примере:

- ParentView.
  - В нём через ```switch``` ```loadable```-объекта попадаем на ```notRequestedView```-параметр
  - Внутри notRequestedView возвращаем ```ChildView```

- ChildView
  -

[2021-06-21 08:27] nalexn commented on #59
Hey, yep, I'll have a look, thanks for composing a sample!

[2021-06-28 13:37] hydro1337x opened #61 "Dependancy injection framework"
Would you ever consider using a lightweight DI framework like Resolver: https://github.com/hmlongco/Resolver instead of your dependancy injector or would that be an overkill? Looking forward to hearing your thoughts

[2021-07-03 13:26] #61 closed

[2021-07-07 09:26] AshRobinson opened #62 "Decoupling Model from View"
Hey, thanks for sharing your project.

One thing I’ve noticed in many examples including Apples and your own is that, although we’re abstracting a lot from the view via the view model, the view still has direct knowledge of the model. For example List(viewModel.countries), Country is a model object and now the view knows about it and will directly access its properties (i.e Text(country.name). Is

[2021-07-12 17:54] riley-usagi commented on #60
Проблема была в использовании ```EmptyView()``` вместо ```Text("")```.

Вообще стоит быть аккуратнее с ```EmptyView```.

[2021-07-12 17:54] #60 closed

[2021-07-27 17:56] nalexn commented on #62
Hey @AshRobinson

My apologies for the late response!

There is rarely something unacceptable in the software, there are best practices for sure (and bad once too), but I would never take either one too serious :)

SwiftUI is all about speeding up the development. You can see Apple promoting things like `@FetchRequest` where database details get exposed to the UI. Some seasoned devs would say this

[2021-08-02 04:55] amadeu01 opened #64 "Crash when attempt to open the detail modal screen"
The app is crashing due to `EnvironmentOverrides` library.
I open a PR fixing it https://github.com/nalexn/EnvironmentOverrides/pull/1

[2021-08-02 09:37] nalexn commented on #64
I've merged that PR (thanks!), and updated this project to use an updated version of EnvironmentOverrides

[2021-08-08 21:06] #64 closed

[2021-08-20 09:22] fummicc1 opened #65 "Typo: TextField spelling"
This is very small topic.

I think variable name `textFiled` may be a typo at the following line.

https://github.com/nalexn/clean-architecture-swiftui/blob/89bacb044745114d29f22bae5e8021b8303a199a/UnitTests/System/SystemEventsHandlerTests.swift#L121

[2021-09-06 23:43] ghmanoj opened #66 "Status bar color font color does not change after theme switch"
The color of status bar icons doesn't invert when we change theme Light or Dark.
I was facing similar issue in one of my project also. Why this might be happening?

This color is properly updated after we click on some textfield.

<img width="364" alt="Screen Shot 2021-09-06 at 4 40 37 PM" src="https://user-images.githubusercontent.com/10175663/132266012-50eb1f13-ee35-4518-81f7-94ce675a47c0.png">

[2021-09-24 10:16] stef-t opened #67 "Cannot connect to REST API"
Hey,

fist off thanks for this insightful repository and article!

When cloning the repository and trying to run it, the application can not connect to the REST API _restcountries.eu_. Trying to access it via a browser redirects to _countrylayer.com_.
I'm not sure what happened with the API or if it is something that just temporarily happened to me.

Kind regards

[2021-09-25 14:36] nalexn commented on #67
Hey @stef-t thanks for the heads up!

Sadly `restcountries.eu` is now shut down and replaced with a paid `countrylayer.com`. [Their free tier](https://countrylayer.com/pricing/) is just 100 searches a month, which means it won't be able to serve everyone interested in this sample project.

I'm not sure there are other free REST APIs for countries search, so the simplest solution for right now is t

[2021-09-26 12:02] nalexn commented on #59
Hey @mohammad19991 ,

I've done some experiments based on the points you've made. To fully understand what's going on I was adding `init` with `print` to see when the views are being created (as opposed to "rendered" via `body` call), and also adding

[code]
inside `body` to see why the view is re-rendered. Additionally we can `print` from `onReceive`

So if we take the original version, which get

[2021-09-28 06:06] stef-t commented on #67
That is really unfortunate to hear!

Another approach might be to load some [local json](https://github.com/mledoze/countries/blob/master/countries.json) that is already part of the app. I'm not sure if the data, provided by the json I linked, matches the data that the REST API provides though.
It might be a nice extension to showcase the flexibility of your clean architecture approach.

[2021-11-02 16:48] nalexn commented on #67
@okiookio thank you for finding this mirror, you made my day! I've pushed the fix

[2021-11-02 16:48] #67 closed

[2021-11-02 16:49] nalexn commented on #65
Thank you! Fixed

[2021-11-02 16:49] #65 closed

[2021-11-07 09:21] riley-usagi opened #69 "How to save related CoreData objects?"
Hi, @nalexn .

Could you please explain how to save (store) related objects (Parent -> Childs) to the database?

Thanks.

[2021-11-08 09:38] nalexn commented on #69
Hey @riley-usagi , you simply insert both parent and child objects in the managed context (calling `insertNewObject` on a concrete `NSEntityDescription`) and then assign the references between the objects. Here is [an example in this repo](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/Models/Models%2BCoreData.swift#L85), where a `Country` has 1-many relationship

[2021-11-10 04:39] quang10296 opened #72 "Something wrong with @Builder and @resultBuilder !!!"
<img width="970" alt="Screen Shot 2021-11-10 at 11 38 12" src="https://user-images.githubusercontent.com/40848138/141050724-0be9c8b0-e472-46d8-928d-6e9e22978e6b.png">

[2021-11-14 10:49] nalexn commented on #72
You're likely to have another struct or class `Builder` in your project, as per [this similar case](https://stackoverflow.com/a/65749230/2923345).

[2021-11-14 10:50] #69 closed

[2021-11-14 10:51] #62 closed

[2021-11-14 10:51] #55 closed

[2021-11-18 13:05] riley-usagi opened #73 "How to get value from LoadableSubject?"
On the interactor method i always get value `nil` from received `LoadableSubject` parameter.

[2021-11-30 23:38] GeoffreyChen777 opened #74 "Why does the '.onReceive(routingUpdate)' perform twice?"
Hi, thanks for your work!

I'm learning your architecture and I found that:

[code]
the print will be performed twice. Can you explain the reason?

Please forgive me for this simple question, because I am a newbie of swift :)

[2021-12-04 11:41] nalexn commented on #74
Hey @GeoffreyChen777

This phenomenon is explained in the section Phantom state updates of [this article](https://nalexn.github.io/stranger-things-swiftui-state/). Let me know if you have follow up questions!

[2021-12-04 11:41] #74 closed

[2021-12-04 11:51] nalexn commented on #73
Given the code for `LoadableSubject`

[code]

You're getting nil because the underlying value container doesn't end up in `loaded` state. Only debugging your project can help understand where the error is.

[2021-12-04 11:51] #73 closed

[2021-12-18 16:53] riyadshauk opened #75 "Project isn't building, Xcode 13.2"
Am I doing something wrong / missing a step?
<img width="1280" alt="Screen Shot 2021-12-18 at 8 39 21 AM" src="https://user-images.githubusercontent.com/8068555/146649204-88d5082e-8ecf-4133-91e1-455ca531f09f.png">

[2021-12-20 11:00] nalexn commented on #75
Hey, your Swift Packages are not loaded. When you open the project for the first time, Xcode loads the packages automatically, in your case the loading failed for some reason. In Xcode, try File -> Packages -> "Resolve Package Versions" and "Update to latest package versions"

[2021-12-20 11:00] #75 closed

[2021-12-20 11:11] Aecasorg commented on #75
Xcode 13.2 from App Store does not work properly. You need to download Xcode 13.2 directly and it'll all work. See: https://www.macrumors.com/2021/12/14/xcode-13-2-bug/

[2022-01-06 06:33] mitolog opened #76 "Question: why `case .isLoading` is not called even we got `.isLoading` on didSet?"
Hi, thanks for sharing and committing such a great project.

While using your architecture, I found that the the scope below is not always called:

https://github.com/nalexn/clean-architecture-swiftui/blob/9f2a98a7146f2e28fe44c53d3b9f20620f203baa/CountriesSwiftUI/UI/Screens/CountryDetails/CountryDetails.swift#L28-L29

even though you did `setIsLoading` at below:

https://github.com/nalexn/clean-ar

[2022-01-06 07:02] mitolog commented on #76
As I looked definition of `wrappedValue` , I found notation below:

[code]

Is this the reason why?

[2022-01-25 17:13] gmcadosch opened #77 "Find by AccessibilityIdentifier"
There's a find(viewWithId:) function, but as I already set the accessibilityIdentifier property on all views for UI testing, I needed a new find function. I implemented this as a shortcut:

extension InspectableView {
    func find(_ id: String) throws -> InspectableView<ViewType.ClassifiedView> {
        try find { try $0.accessibilityIdentifier() == id }
    }
}

Would be nice to see something l

[2022-01-25 17:15] nalexn commented on #77
Hey, feel free to open a PR for that, great idea!

[2022-01-25 17:56] gmcadosch commented on #77
Yes, thought the same, but it‘s a bit long, though. But in regard to the other find versions it‘s probably the right name.

[2022-01-30 14:39] MohsenKhosravinia opened #78 "Reseting route state"
Hit @nalexn, great job on you repo.
I have a question. How and when do you reset your routing states? Currently I have a hierarchy like below:
SplashView -> AuthenticationView -> SignUpView -> HomeView
I want to log out on home view and go back (move forward) to authentication view. when I change the routing state on home view and go to authentication view, all the previous flags for navigation ar

[2022-01-30 14:52] nalexn commented on #78
Hey,

If we're talking about a real "reset" of the state, there is [one place](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/UI/Screens/ContentView.swift#L38) I do this to essentially restart the app after appearance settings are changed by `EnvironmentOverrides` panel (a UI/UX testing tool I built, which is also demoed as part of this project).

Normally you do

[2022-01-30 16:26] MohsenKhosravinia commented on #78
This is the fist view (splash)

import SwiftUI
import Combine

struct SplashView: View {
    private let container: DIContainer
    @State private var showHomeView: Bool = false
    @State private var showAuthenticationView: Bool = false

    /// setup routings' bindings
    @State private var routingState: Routing = .init()
    private var routingBinding: Binding<Routing> {
        $routingState.

[2022-01-30 16:27] MohsenKhosravinia commented on #78
It doesn't format properly. do you want me to upload the project and give you a link?

[2022-01-30 16:34] MohsenKhosravinia commented on #78
@nalexn Would you please take a look at this project?
[https://gitlab.com/MohsenKhosravinia/cleanarchvaiyo](url)

[2022-01-30 17:39] nalexn commented on #78
Ok, after a quick glance I think you should remove `NavigationLink` here and leave just the `Button`:

[code]
then, I'd removed the `var shouldNavigateToAuthetication: Bool = false` in the `HomeView.Routing`. In your `logout`, instead of

[code]
you should toggle the `container.interactors.splashInteractor.isLogin`, since I can see it toggles between `AuthenticationView` and `HomeView`:

[code]

[2022-01-30 19:25] MohsenKhosravinia commented on #78
Thank you for the effort but I want to go forward (after log out I want to instantiate new authentication view). I did follow your steps but the log out button does nothing without navigation link. When we instantiate a view twice (based on a UX situation) we don't get the proper result because the app state holds the routing last states and the automatic navigation happens afterward. Do you have

[2022-01-30 19:47] nalexn commented on #78
Ok, then if you actually need to show another AuthenticationView and not pop back to the original, the second one has to rely on separate routing parameters. Introduce a secondary set of routing params for AuthenticationView, and then control which set to use by providing an enum or a bool value as init parameter for the AuthenticationView

[2022-02-05 04:41] alabdulaal commented on #7
Hey @nalexn

How would you go about removing or appending a new item since the array is immutable and composed in Loadable?

[2022-02-05 09:46] nalexn commented on #7
@alabdulaal you need to compose a new Loadable and assign it in the AppState.

[code]

[2022-02-10 15:57] alabdulaal commented on #7
@nalexn Thank you for your reply, wouldn't this approach hurt performance and result in unnecessary re-renders?

[2022-02-10 16:02] nalexn commented on #7
It rather depends on the SwiftUI diffing engine, really. If you have a List that renders "A", "B" and "C" and need to render only "A", "B", you really have to feed the list with the **new array**. There is no other way.
You can use `EquatableView` if performance issues kicks in

[2022-02-20 18:12] alabdulaal commented on #20
Hi @nalexn, this solution works, however, it causes the list to scroll to the top with enum value changes. Consider the following code.

[code]

Here `loadedView` is rendered twice once while the state is `loading` to keep previewing the previously loaded items and it's also called when the state is `loaded` and wherever the state changes the list will rerender. Any ideas on how to achieve the sam

[2022-06-02 09:31] stoneyanjun opened #79 "app crash after select some countires"
2022-06-02 17:14:07.367568+0800 CountriesSwiftUI[18270:247217] [TableView] Warning once only: UITableView was told to layout its visible cells and other contents without being in the view hierarchy (the table view or one of its superviews has not been added to a window). This may cause bugs by forcing views inside the table view to load and perform layout without accurate information (e.g. table v

[2022-06-02 09:32] stoneyanjun commented on #79
Xcode 13， test on simulator Xr, iOS 13.3

[2022-09-19 12:10] NeverwinterMoon opened #81 "Would be cool to have the same using SwiftUI Lifecycle"
Basically, using features introduced by SwiftUI "2.0": `App` protocol instead of App Delegate.

[2022-11-10 23:11] oleg-moseyko opened #82 "safearea is not correct"
<img width="419" alt="Снимок экрана 2022-11-11 в 00 10 32" src="https://user-images.githubusercontent.com/25344716/201225315-017cc55e-3f98-4d53-9250-911d8c6a5229.png">

[2022-11-15 02:39] gap1994 commented on #82
use ignoresSafeArea